<section>
    <div class="adv-cont adv-bacground">
        <ul class="adv-list-nodot">
            <li>
                <ul>
                    <li>
                        <a class="hero-button-v">
                            <svg width="22" ; height="22">
                                <use href="./images/advantages/icon.svg#icon-chocolate-bar"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
            <li></li>
            <li></li>
        </ul>
    </div>
    
</section>