<section>
    <div class="adv-cont adv-bacground adv-font">
        <ul class="adv-list-nodot adv-list-cont">
            <li class="adv-point-cont">
                <div class="adv-sv">
                    <svg width="32" ; height="32">
                        <use href="./images/advantages/icon.svg#icon-chocolate-bar"></use>
                    </svg>
                </div>
                <h3 class="adv-header-cont adv-header-font">
                    Unsurpassed taste
                </h3>
                <p class="adv-par-cont adv-par-font">
                    Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that
                    simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of
                    chocolate bliss.
                </p>
            </li>
            <li class="adv-point-cont">
                <div class="adv-sv">
                    <svg width="32" ; height="32">
                        <use href="./images/advantages/icon.svg#icon-chocolate-bar"></use>
                    </svg>
                </div>
                <h3 class="adv-header-cont adv-header-font">
                    Unsurpassed taste
                </h3>
                <p class="adv-par-cont adv-par-font">
                    Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience
                    that
                    simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of
                    chocolate bliss.
                </p>
            </li>
            <li class="adv-last-point-cont">
                <div class="adv-sv">
                    <svg width="32" ; height="32">
                        <use href="./images/advantages/icon.svg#icon-chocolate-bar"></use>
                    </svg>
                </div>
                <h3 class="adv-header-cont adv-header-font">
                    Unsurpassed taste
                </h3>
                <p class="adv-par-cont adv-par-font">
                    Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience
                    that
                    simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of
                    chocolate bliss.
                </p>
            </li>
        </ul>
    </div>
</section>