
<footer class="footer footer-color footer-line" id="footer">

    <div class="footer-space">

    <div class="footer-padding">
    <h2 class="footer-head"><span class="footer-span">Chocolate</span> a delicious cure for a bad day</h2>
    </div>
    
    <div class="footer-column">
        <h2 class="footer-contact">Contact us</h2>
        <div class="footer-column-ii">
        <p class="footer-contact-ii">+380 (68) 443-94-26</p>
        <p class="footer-contact-ii">simplychoc@gmail.com</p>
    </div></div>

    <div class="footer-svg">
        <a href=""><svg class="footer-svg-hover" width="24" height="24">
            <use href="/src/images/footer-svg/footer.svg#icon-instagram-desk"></use></svg></a>
        <a href=""><svg class="footer-svg-hover" width="24" height="24">
            <use href="/src/images/footer-svg/footer.svg#icon-twitter-desk"></use></svg></a>

    <div class="footer-svg">
        <a href=""><svg class="footer-svg-tel" width="22" height="22">
            <use href="/src/images/footer-svg/footer.svg#icon-instagram-phone"></use></svg></a>
        <a href=""><svg class="footer-svg-tel" width="20" height="20">
            <use href="/src/images/footer-svg/footer.svg#icon-twitter-phone"></use></svg></a>
    </div></div>

    <div class="footer-flex">
        <p class="footer-menu">Home</p>
        <p class="footer-menu">How it's made?</p>
        <p class="footer-menu">Our products</p>
        <p class="footer-menu">Top sellers</p>
        <p class="footer-menu">Chocolate is loved</p>
    </div>
</div>

</footer>