<header>
  <div class="header-cont header-div-flex header-font">
    <nav class="header-nav-flex">
      <a class="header-link-cont header-choc-font">
        <em class="header-simply-font">simply</em>&nbsp; chocolate
        <svg height="24" width="24">
          <use href="./images/header/icon.svg#icon-chocolate"></use>
        </svg>
      </a>

      <ul class="header-nav-list-cont header-nav-list-font header-no-dot">
        <li><a class="header-nav-list-link">Home</a></li>
        <li><a class="header-nav-list-link">How it’s made?</a></li>
        <li><a class="header-nav-list-link">Our products</a></li>
        <li><a class="header-nav-list-link">Top sellers</a></li>
        <li><a class="header-nav-list-link">Chocolate is loved</a></li>
      </ul>
    </nav>
    <address class="header-adress-cont">
      <ul class="header-adress-list-cont header-no-dot">
        <li>
          <svg height="24" width="24">
            <use href="./images/header/icon.svg#icon-instagram"></use>
          </svg>
        </li>
        <li>
          <svg height="24" width="24">
            <use href="./images/header/icon.svg#icon-twitter"></use>
          </svg>
        </li>
      </ul>
    </address>

    <menu class="header-menu">
      <button type="button" class="" aria-expanded="false" aria-controls="mobile-menu">
        <svg width="32" height="22">
          <use></use>
        </svg>
      </button>
    </menu>
  </div>
</header>
