<header>
    <div class="">
        <nav class="">
            <a class="">simply<span>chocolate</span></a>
            <ul class="">
                <li><a class="">Home</a></li>
                <li><a class="">How it’s made?</a></li>
                <li><a class="">How it’s made?</a></li>
                <li><a class="">How it’s made?</a></li>
                <li><a class="">Chocolate is loved</a></li>
            </ul>
        </nav>
        <address>
            <ul class="">
                <li>
                    <svg>
                        <use href="/src/images/header/icon.svg#icon-instagram"></use>
                    </svg>
                </li>
                <li>
                    <svg>
                        <use href="/src/images/header/icon.svg#icon-instagram"></use>
                    </svg></a></li>
            </ul>
        </address>

        <menu class="">
            <button type="button" class="" aria-expanded="false" aria-controls="mobile-menu">
                <svg width="32" height="22">
                    <use href=""></use>
                </svg>
            </button>
        </menu>
    </div>
</header>