<section class="hero-cont">
    <h1 class="isually-hidden">/</h1>
    <div class="hero-backround hero-font hero-radius">
        <h2 class="hero-paragraph-cont hero-paragraph-font">
            Treat yourself or a loved one to
            our finest ingredients for a moment
            of pure delight!
        </h2>
        <div class="hero-buttons-cont">
            <div class="hero-buttons-div">
                <button type="button" class="hero-button-style hero-button-buy" data-modal-open>Buy now</button>
                <button type="button" class="hero-button-style hero-button-made" data-modal-open>How it’s made</button>
            </div>
            <div class="hero-scroll-div">
                <a class="hero-button-link">scroll down</a>
                <a class="hero-button-v">
                    <svg width="22"; height="22" >
                        <use href="./images/header/icon.svg#icon-v"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
