<section class="hero-cont">
    <div class="hero-backround hero-font">
        <h1 class="hero-paragraph-cont hero-paragraph-font">
            Treat yourself or a loved one to
            our finest ingredients for a moment
            of pure delight!
        </h1>
        <div class="hero-buttons-cont">
        <button type="button" class="hero-button-style hero-button-buy" data-modal-open>Buy now</button>
        <button type="button" class="hero-button-style hero-button-made" data-modal-open>How it’s made</button>
        </div>
    </div>
</section>
