<button type="button" data-modal-open>open</button>

<div class="is-hidden subscribe-modal" data-modal>
    
    <div class="subscribe-modal-class">
        <button class="subscribe-button-modal" type="button" data-modal-close>
        <svg class="subscribe-svg-modal" width="28" height="28">
            <use href="/src/images/subscribe/subscribe.svg#icon-subscribe-close"></use></svg></button>

        <div class="subscribe-photo">
            <div class="subscribe-modal-form"></div>
            <p class="subscribe-modal-text" id="contact">Explore our <br><span class="subscribe-modal-span">new chocolate</span> first!</p>
        
        <form>
        <div class="subscribe-modal-form-email">
            <label for="user-email" class="input"></label>
            <div class="subscribe-modal-email">
                <input class="subscribe-modal-input" id="user-email" type="email" name="email" required placeholder="Enter your email"/></div>
                <button class="subscribe-modal-button" type="submit"><p class="subscribe-button-text">Subscribe</p></button>
            </div>
            
    </form>
        
    </div></div>
</div>