<section class="container section">
    <h2 class="section-title">TOP<span class="section-title-span"> SELLERS</span> </h2>
    <div class="top-sellers-container">
    
    <ul class="list top-sellers-list ">
  <li class="top-seller-list">
    <img src="./images/top-sellers/top-sellers01.jpg"
    srcset="./images/top-sellers/top-sellers01.jpg 1x, ./images/top-sellers/top-sellers01x2.jpg 2x"
    width="368"
    height="464"
    alt="hazelnut with roasted coffee beans and dark chocolate bars on the table"
    class="top-sellers-image" />
</li>
  <li class="top-seller-list top-seller-list-relative">
    <img src="./images/top-sellers/top-sellers02.jpg"
    srcset="./images/top-sellers/top-sellers02.jpg 1x, ./images/top-sellers/top-sellers02x2.jpg 2x"
    width="368"
    height="464"
    alt="milk chocolate with hazelnut and dried grapevine and cinnamon on the table" 
    class="top-sellers-image"/>
  </li>
  <li class="top-seller-list">
    <img src="./images/top-sellers/top-sellers03.jpg"
    srcset="./images/top-sellers/top-sellers03.jpg 1x, ./images/top-sellers/top-sellers03x2.jpg 2x"
    width="368"
    height="464"
    alt="different types of chocolate lie on top of each other and top with truffle chocolate" 
    class="top-sellers-image "/>
  </li>
    </ul>
    <div  class="top-sellers-item">
           
    <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
        Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
    </p>
            
       
    <button type="button" class="top-sellers-button">Buy now</button>
       
            
    </div>
</div>
</section>