<section class="unique-components-container">
  <h2 class="unique-components-section-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
  </h2>
  <p class="unique-components-description">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From
    the sourcing of the finest ingredients to the careful crafting of each individual piece, every
    step of our process adds up to one exceptional taste sensation.
  </p>
  <ul class="unique-components-list">
    <li>
      <div class="unique-components-list-layout">
        <img src="./images/unique-components/milk-chocolate.png" alt="milk chocolate" />
        <p class="unique-components-list-description">MILK CHOCOLATE</p>
      </div>
    </li>
    <li>
      <div class="unique-components-list-layout">
        <img src="./images/unique-components/milk.png" alt="milk" />
        <p class="unique-components-list-description">Milk</p>
      </div>
    </li>
    <li>
      <div class="unique-components-list-layout">
        <img src="./images/unique-components/nuts.png" alt="nuts" />
        <p class="unique-components-list-description">nuts</p>
      </div>
    </li>
    <li>
      <div class="unique-components-list-layout">
        <img src="./images/unique-components/chocolate.png" alt="chocolate" />
        <p class="unique-components-list-description">sEMI - SWEET CHOCOLATE</p>
      </div>
    </li>
  </ul>
</section>

<!--<div class="overlay">
        <h3></h3>
        <p>
          Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is
          the most consumed type of chocolate. Chocolate was originally sold and consumed as a
          beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the
          United States and Europe.
        </p>
      </div>--->
