.how-its-made-section {
  background-color: #fafafa;
}

.him-header {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.him-span {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.him-video-div {
  max-height: auto;
  overflow: hidden;
  border-radius: 15px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%),
    url(../images/how-its-made/imgvideodescop.jpg),
    lightgray -10.819px -343.839px / 103.473% 236.295% no-repeat;
}

.him-content {
  display: flex;
  width: 516px;
  height: 400px;
  padding: 32px;
  justify-content: start;
  flex-direction: column;
  border-radius: 15px;
  background: #fff;
}

.him-content-text {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  margin: 0;
}
.him-content-list {
  display: flex;
  width: 452px;
  height: 260px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  font-family: Montserrat;
}

.him-content-item {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  display: flex;
}

/* Style dla obrazu */
.video-container img {
  width: 100%;
  height: auto;
}

/* Style dla iframe */
.video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
}

.him-svg {
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  .how-its-made-section {
    width: 1200px;
    margin: 0 32px;
  }
  .him-div {
    display: flex;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made-section {
    width: 768px;
  }
}
